<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Qyaho</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
            <li *ngIf="!checkLoggedIn()" class="nav-item">
            <a class="nav-link" routerLink='/login'>로그인</a>
            <li *ngIf="!checkLoggedIn()" class="nav-item">
            <a class="nav-link" routerLink='/register'>회원가입</a> 
            <li *ngIf="checkLoggedIn()" class="nav-item">
            <a class="nav-link" (click)="onLogoutClick()" href="#">로그아웃</a></li>
            <li class="nav-item">
            <a class="nav-link" routerLink='/qrscan'>QR 스캔</a>
            <li class="nav-item">
            <a class="nav-link" routerLink='/qrgen'>QR 생성</a>
      </ul>
    </div>
</nav>

